.col-lg-12.article
  .btn-group.articleButton
    %button.btn.btn-default{:type => "button"}
      %i.fa.fa-star
    %button.btn.btn-primary{:type => "button"}= "{Read State}"
  %h2.articleTitle
    %a{:href => "/", :target => "_blank"}= "{Item Title}"
  %h6.articleDetails
    %a{:href => "/", :target => "_blank"}= "{Feed Title}"
    = "by {Item Author}, at {Item Date}"
  .articleContent
    %p= "{Item Content}"