!!!
%html
  %head
    = javascript_include_tag 'application.js'
    = stylesheet_link_tag 'application.css'
    = csrf_meta_tags
  %body
    .wrapper
      = render :partial => 'shared/sidebar'
      #page-content-wrapper
        .container
          / Mobile Menu Include
          -# include ./partials/mobilemenu.ejs
          = render :partial => 'shared/bootstrap_flash', flash: flash
          = yield