!!!
%html
  %head
    %title= "FeedBooster"
    = javascript_include_tag 'application.js'
    = stylesheet_link_tag 'application.css'
    = csrf_meta_tags
  %body
    #wrapper
      #sidebar-wrapper
        = render :partial => 'shared/sidebar'
      #page-content-wrapper
        .container-fluid
          = render :partial => 'shared/bootstrap_flash', flash: flash
          = yield